.epcRecentComments {
  #cyWrapper {
    ul {
      li {
        margin: 0 !important;
        .cont {
          padding: 0;
          span.reping-nickname {
            color: #3e3e3e;
          }
        }
        .reping-avatar {
          display: block;
          img {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            margin: 5px;
            transition: all 1s ease-in-out;
          }
          img:hover {
            transform: rotate(360deg)
          }
        }
      }
    }
  }
}
.head-img-gw {
  a {
    img {
      transition: all 1s ease-in-out;
    }
    img:hover {
      transform: rotate(360deg)
    }
  }
}