extends base
block title
  title= page.title + ' | ' + config.title
block content
  .post
    h1.post-title
      = page.title
      include _partial/ai_badge
    .post-content
      != page.content
  if page.comments
    include _partial/comments

