.widget
  .widget-title
    i(class='fa fa-external-link')= ' '
    != __('blogroll')
  .links
    - for (var i in theme.links)
      a(href='#{theme.links[i].url}' title='#{theme.links[i].title}' target='_blank') #{theme.links[i].title}
