#footer
  p ©&nbsp;
    a(href=url_for('.'), rel='nofollow')= config.title + '. '

    a(rel='nofollow', target='_blank', href="http://www.miitbeian.gov.cn/") 沪ICP备16053193号-2

  p Powered by
    a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo.
    a(rel='nofollow', target='_blank', href='https://github.com/tufu9441/maupassant-hexo')  Theme
    |  by
    a(rel='nofollow', target='_blank', href='https://github.com/pagecho')  Cho.