div.post-footer
p  (本文完)
p  如果你可以 
    a(href=url_for('/about/give-me-a-coffee.html')) 点击这个链接打赏我5毛
    | ，对我的鼓励比500块还多很多
p  本文遵循 
 a(href=url_for('https://creativecommons.org/licenses/by-nc/4.0/deed.en'))= 'cc协议'
p  你可以在注明出处和非商用的前提下任意复制及演绎
div.post-footer
